*~
parsergen/socialite
parsergen/Makefile
*/JLex
*.bak
*.aux
*.dvi
*.log
*.ps
*.tex*
*/target
sparkdatalog/src/main/java/socialite
sparkdatalog/lib
.idea
*.iml
sparkdatalog/project/target
sparkdatalog/project/project/target
sparkdatalog/src/main/scala/s2g/project/
sparkdatalog/src/main/scala/s2g/target/
target
